<!-- Header -->
<div class="relative bg-orange-600 md:pt-32 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats statSubtitle="Em Aberto" statTitle="R$ 0,00"
            statPercentColor="text-emerald-500" statDescripiron="Pagamentos em Aberto" statIconName="fas fa-exclamation"
            statIconColor="bg-orange-500"></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats statSubtitle="Concluído" statTitle="R$ 0,00"
            statPercentColor="text-red-500" statDescripiron="Pagamentos Concluidos (Fev)" statIconName="fas fa-check"
            statIconColor="bg-emerald-500"></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats statSubtitle="Oportunidades" statTitle="2 abertas"
            statPercentColor="text-orange-500" statDescripiron="Ver Oportunidades" statIconName="fas fa-exclamation"
            statIconColor="bg-orange-500"></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats statSubtitle="Aprovações" statTitle="0 Itens"
            statPercentColor="text-emerald-500" statDescripiron="Ver aprovações pendentes" statIconName="fas fa-exclamation"
            statIconColor="bg-orange-500"></app-card-stats>
        </div>
      </div>
    </div>
  </div>
</div>