<div class="w-full lg:w-8/12 flex flex-wrap justify-center" style="margin: 0 auto;">
    <div class="w-full lg:w-4/12">
        <div class="px-4 bg-white rounded-lg lg:order-2 flex m-4">
            <div class="relative flex flex-col min-w-0 break-words w-full mb-6 rounded">
                <div class="rounded-t mb-0 px-2 py-4 border-0">
                    <div class="flex flex-wrap items-center">
                        <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                            <h6 class="text-blueGray-700 uppercase text-xs font-semibold">
                                CLIENTES
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="block w-full overflow-x-auto" style="padding-bottom: 15px;">
                    <table class="items-center w-full bg-transparent border-collapse">
                        <tbody>
                            <!-- <tr *ngFor="let holiday of holidaysList"> -->
                            <tr>
                                <th
                                    class="th-odd border-t-0 px-6 py-2 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-1 text-left flex items-center odd:bg-warmGray-400">
                                    <span class="font-semibold block text-blueGray-600">
                                        Mercenary Squad<br />
                                        20/12/1992<br />
                                        <a class="block mt-3 text-indigo-600" href="">ACTIONS</a>
                                    </span>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full lg:w-8/12">
        <div class="px-4 bg-white rounded-lg lg:order-2 flex m-4">
            <h6 class="text-lg font-semibold text-blueGray-700 p-4">CRIAR NOVO CLIENTE</h6>

        </div>
    </div>
</div>