/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~ngx-toastr/toastr';

.icon-wrap{
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.disabled{
    pointer-events: none;
    opacity: .8;
    background-color: gainsboro;
    position: relative;
}

.link-disabled{
    opacity: .5;
    pointer-events: none;
}

.link-disabled small{
    color: #d86c00;
    font-size: 10px;
    text-transform: lowercase;
}

.disabled .soon{
    padding: 3px 8px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #ea7c11;
    color: white;
    position: absolute;
    top: 5px;
    right: 10px;
}

.swal-wide{
    width:50%!important;
}

.swal-wide input[type=text], .swal-wide input[type=date], .swal-wide textarea{
    font-size: 15px!important;
    width: 60%;
}

.swal-wide input::-webkit-input-placeholder, .swal-wide textarea::-webkit-input-placeholder {
    font-size: 15px!important;
}

.swal-wide textarea{
    height: 125px!important;
}

.dash-stats-default-text{
    color:#d86c00!important;
}

.dash-stats-green-text{
    color:rgb(13, 148, 136, .9)!important;
}

.dash-stats-default-bg{
    background:#fcdab7!important;
}

.dash-stats-green-bg{
    background:rgb(13, 148, 136, .2)!important;
}

.green-btn{
    background: rgb(13, 148, 136, .9);
}

.green-btn:hover{
    background: rgb(13, 148, 136, 1);
}

.avatar-svg svg{
    width: 100%;
}

.bg-indigo-400{
    background-color: rgba(129, 140, 248, var(--tw-bg-opacity));
}

.text-green-500{
    color:rgb(13, 175, 72);
}

.divider-invoice{
    width: 100%;
    height: 1px; 
    background-color: rgb(231, 231, 231); 
    display: block; 
    margin: 2px 0;
}

.dash-bg-admin{
    background-color: #f1f5f9; 
    padding-bottom: 30px;
}

.swal-wide{
    width: 50%!important;
}

.swal-wide input[type=text]{
    width: 80%!important;
    margin: 30px auto;
}

.danger-zone-block {
    color: tomato;
    border-top: 1px solid rgba(255, 99, 71, 0.36);
    padding-top: 15px;
}

.danger-zone-btn{
    border: 2px solid tomato!important;
    cursor: pointer;
}

.danger-zone-btn:hover{
    color: white;
    background: tomato;
} 

.avatar-img{
    width: 150px!important;
    height: 150px!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    display: inline-flex!important;
}

.avatar-img-l{
    width: 100%!important;
    height: 100%!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    display: inline-flex!important;
}

.border-red-500{
    border-color: tomato!important;
}

.border-green-500{
    border-color: rgb(13, 175, 72)!important;
}

.border-oragen-500{
    border-color: rgba(249, 115, 22)!important;
}

.soon{
    background: rgba(254, 125, 33, 0.755);
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 8px;
    padding: 3px 4px;
    text-transform: lowercase;
    position: absolute;
    top: 15px;
    right: 15px;
}